# Web framework
fastapi==0.112.2
uvicorn[standard]==0.30.0
python-dotenv==1.0.1
pydantic==2.9.2

# LangChain & LLM
langchain==0.3.0
langchain-core==0.3.0
langchain-openai==0.2.0
langchain-groq==0.2.0
langchain-chroma==0.1.4
langchain-text-splitters==0.3.0

# Vector DB
chromadb==0.5.5

# APIs & models
openai==1.51.0
groq==0.11.0

# PDF Ingestion
pymupdf4llm==0.1.0
PyMuPDF==1.24.9

# Utilities
tiktoken==0.7.0
requests==2.32.3
tenacity==8.5.0
